/.vs/
/Debug/
/Release/
*.lib
*.pdb
*.idb
*.lnk
*.iobj
*.ipdb
*..lastbuildstate
*.ilk
*.exp
*.tlog
*.obj
*.pch
*.log
*.dll
*.ini
*.bat
*.enc
*.recipe
*.exe
*.res
*.user
*.suo
RCa*
/sciter/
/Jiyu_chat-master/
/Jiyu_udp_attack/
/x64/
/x86/
**/Debug/
**/Release/
**/x64/
**/x86/
